.addCategory {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addCategory:hover {
    background-color: #e6e6e6;
}

.addCategoryButton {
    background-color: #202854;
    color: white;
    font-weight: 200;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-top: 30px;
    font-size: 14px;
    font-family: '__Quicksand_2d6db2', sans-serif;
    width: 100%;
}


.menuHeader h1 {
    display: flex;
    flex-direction: row;
    font-family: '__Quicksand_2d6db2', sans-serif;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    background-color: #202854;
    padding: 5px;
    color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.menuHeader span {
    /*margin-top: 20px;*/
    font-weight: 300;
    /*text-align: center;*/
    /*justify-content: center;*/
    display: flex;
}

.menuGridContainer {
    padding: 0 20px 0 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto;
    grid-template-areas:
        "menuHeader menuHeader"
        "categories categories"
        "foodItems foodItems";
}

.menuCategories {
    grid-area: categories;
}

.foodItems {
    grid-area: foodItems;
}

.menuHeader {
    grid-area: menuHeader;
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    /*background-color: white;*/
    /*padding: 10px;*/
    /*border-radius: 10px;*/
    margin-top: 15px;
}

.foodItem {
}

.categoryButton, .foodItemsButton {
    background-color: #ffffff;
    color: #3f3f3f;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    font-size: 14px;
    font-family: '__Quicksand_2d6db2', sans-serif;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.foodItemsButton {
    /*height: 80px;*/
    cursor: default !important;
}


.categoryButton span {
    font-size: 15px
}

.editIcon {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.deleteIcon {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.dragAndDropIcon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.menuCategories, .foodItems {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    padding: 20px;
}

.alignItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editModalContainer {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 102;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.modalCloseIcon {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    border: 1px solid black;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modalCloseButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
}

.foodItemInput {
    margin-bottom: 25px;
}

.modalSaveButton {
    background-color: #202854;
    color: white;
    cursor: pointer;
}

.editModalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.inactive {
    display: none;
}

.editFoodItemsModalContainer {
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    width: 50%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 102;
    padding: 40px;
    display: flex;
}

.foodItemRadioGroup {
    display: flex;
    margin: 0 auto 25px 0;
}

.foodItemRadioGroup span:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #10181c;
}

.deleteFoodItemsModalContainer {
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    width: 450px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 102;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.editFoodItemsModalContainer h1 {
    font-size: 18px;
    font-weight: 500;
    color: #10181c;
    margin-bottom: 25px;
    font-family: '__Quicksand_2d6db2', sans-serif;
}

.cautionForCustomers {
    font-size: 14px;
    font-weight: 500;
    color: #10181c;
    margin-bottom: 25px;
    font-family: '__Quicksand_2d6db2', sans-serif;
    border-radius: 5px;
    background-color: #ffbf00b3;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cautionIcon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.clearCategoriesButtons, .clearFoodItemsButtons {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.addFoodItemsButton {
    background-color: #202854;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    /*padding: 5px 10px 5px 10px;*/
    margin-left: auto;
    display: flex;
    align-items: center;
}

.selectedFoodItem {
    align-items: center;
    background-color: #202854;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    /*padding: 5px 10px 5px 10px;*/
    margin-right: auto;
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-family: '__Quicksand_2d6db2', sans-serif;
    font-weight: 200;
}

.infoAboutMenu {
    background-color: #00357391;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.infoAboutIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.alignSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 40%;
    left: 55%;
}
